.git
.github
.idea
.pytest_cache
.ruff_cache
.mypy_cache
.pyre
.venv
__pycache__
*.py[cod]
*.pyo
*.pyd

.env
.env.*
!.env.example
!.env.docker.example
.gcs-key*.json

.secrets
/storage/
htmlcov
dist
build
*.egg-info

Dockerfile
docker-compose.yml
README.md
